.loader{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
        height: 10rem;
        width: 10rem;
        fill: $color-blue-light-1;
        transform-origin: 50% 50%;
        animation: rotate 1.5s infinite linear;
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0); 
    }
    100% {
      transform: rotate(360deg); 
    }
}

@keyframes mover {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.movepanelright {
      animation: mover .4s ease;
}

@keyframes movel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.movepanelleft {
      animation: movel .4s ease;
}