*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-700) {
        font-size: 56%;
    }
}

body {
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 8rem max-content minmax(18rem, 1fr) max-content;
    min-height: 100vh;
    @include centerEl;

    @media only screen and (max-width: $bp-550) {
        grid-template-rows: 12rem max-content minmax(18rem, 1fr) max-content;    
    }
}

.svg-close{
    width: 3rem;
    height: 3rem;
    fill: $color-red;
}
