.btn{
    &,
    &:visited,
    &:link{
        font-size: 1.5rem;
        font-weight: 500;
        padding: .6rem 2rem;
        background-color: $color-blue-light-1;
        color: $color-white;
        text-decoration: none;
        transition: all .2s;
        box-shadow: 0 .2rem 0 $color-blue;
        border: none;
        cursor: pointer;
    }

    &:active,
    &:focus{
        outline: none;
    }

    &:hover{
        background-color: $color-blue;
    }
}

.btn-link{
    &,
    &:visited,
    &:link{
        font-size: 1.5rem;
        font-weight: 500;
        padding: .4rem 2rem;
        background-color: $color-blue-light-1;
        color: $color-white;
        text-decoration: none;
        transition: all .2s;
        box-shadow: 0 .2rem 0 $color-blue;

        @media only screen and (max-width: $bp-550) {
            font-size: 1.3rem;
        }

        @media only screen and (max-width: $bp-low) {
            padding: .4rem 1rem;
        }

        @media only screen and (max-width: $bp-400) {
            padding: .4rem .6rem;
            font-size: 1.2rem;
        }
    }

    &:hover{
        background-color: $color-blue;
    }
}

.btn-close{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
}