.btn-search{
    width: 2rem;
    height: 2rem;
    fill: white;
    overflow: visible;
}

.btn{
    &,
    &:visited,
    &:link{
        font-size: 1.5rem;
        font-weight: 500;
        padding: .4rem 2rem;
        background-color: $color-blue-light-1;
        color: $color-white;
        text-decoration: none;
        transition: all .2s;
        box-shadow: 0 .2rem 0 $color-blue;
        border: none;
        cursor: pointer;
    }

    &:active,
    &:focus{
        outline: none;
    }

    &:hover{
        background-color: $color-blue;
    }
}