.filters{
    display: none;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: max-content;

    @media only screen and (min-width: 62.5625em) {
        opacity: 1 !important;
        visibility: visible !important;
        animation: none;
    }

    @media only screen and (max-width: $bp-large) {
        opacity: 0;
        width: 26rem;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f5f4f0;
        z-index: 2;
        visibility: hidden;
        padding: 1rem;
    }
}