.search {
    background-color: $color-grey;
    grid-column: 1 / -1;
    display: grid;
    @include centerEl;

    &__box{
        grid-column: center-start / center-end;
        margin: 5rem 0;
    }

    &__heading{
        text-align: center;
    }

    &__form{
        display: grid; 
        grid-template-columns: minmax(min-content, 38rem) minmax(min-content, 15rem) minmax(min-content, 25rem) minmax(min-content, max-content);  
        justify-content: center;

        @media only screen and (max-width: $bp-900) {
            grid-template-columns: minmax(min-content, 1fr);
            grid-template-rows: repeat(4, 5rem);
        }

        &>*{
            outline: .3rem solid $color-green;
            border: none;
            font-size: 1.4rem;
            font-family: inherit;
            font-weight: 500;
        }
    }

    &__autocomplete{
        position: relative;
    }

    &__autocomplete-items{
        position: absolute;
        border: 1px solid $color-grey-1;
        z-index: 99;
        width: 100%;
        top: 105%;
        left: 0;

        div{
            font-weight: 400;
            padding: 10px;
            cursor: pointer;
            background-color: $color-white;
            border-bottom: 1px solid $color-grey-1;

            &:hover{
                background-color: #e9e9e9;
            }
        }
    }

    &__autocomplete-active {
        background-color: $color-grey !important;
    }

    &__field{
        padding-left: 1rem;

        &:active,
        &:focus{
            box-shadow: 0 0 0 .03rem $color-dark inset;
        }

        &:hover{
            box-shadow: 0 0 0 .03rem $color-dark inset;
        }

        &--place{
            width: 100%;
            height: 100%;
            border: none;
            font-weight: 500;
            outline: none;
        }

        &--checkin{
            cursor: pointer;
        }
    }

    &__field-guests-box{
        background-color: $color-white;
        position: relative;

        &:hover{
            box-shadow: 0 0 0 .03rem $color-dark inset;
        }
    }

    &__label{
        height: 100%;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-900) {
            justify-content: start;
            padding-left: 1rem;
        }
    }

    &__svg-box{
        line-height: 1;
    }

    &__svg-user{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.2rem;
        fill: #999999;
    }

    &__popup-box{
        width: 135%;
        position: absolute;
        top: 115%;
        right: 0;
        z-index: 999;
        background-color: $color-white;
        border-radius: .3rem;
        box-shadow: 0 2rem 16rem rgba($color-dark, .15);
        padding: 2rem;

        @media only screen and (max-width: $bp-900) {
            width: 100%;
            top: 105%;
        }
    }

    &__popup-update-box{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }

    &__popup-name{
        font-size: 1.4rem;
    }

    &__popup-input-box{
        display: flex;
        align-items: center;
    }

    &__popup-btn{
        &,
        &:visited,
        &:link{
            background-color: $color-white;
            border: .1rem solid $color-blue-light;
            width: 3.7rem;
            height: 3.7rem;
            cursor: pointer;
            z-index: 9999;
        }

        &:active,
        &:focus{
            background-color: $color-azure;
            outline: .1rem solid $color-blue-light;
        }

        &:hover{
            background-color: $color-azure;
        }
    }

    &__popup-btn--decrease {
        cursor: not-allowed;
        border: .1rem solid $color-grey-1;
    }

    &__btn-svg{
        width: 1.2rem;
        height: 1.2rem;
        fill: $color-blue-light;
    }

    &__btn-decrease-svg {
        fill: $color-grey-1;
    }

    &__popup-input{
        display: none;
    }

    &__popup-count{
        display: block;
        text-align: center;
        min-width: 3.6rem;
    }

    &__btn{
        &,
        &:visited,
        &:link{
            padding: 1.3rem 2rem;
            background-color: $color-blue-light;
            color: $color-white;
            font-size: 1.6rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover{
            background-color: $color-blue-dark;
            transition: all .2s;
        }

        &:active,
        &:focus{
            box-shadow: 0 0 0 .03rem $color-dark inset;
        }
    }

    &__svg{
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        line-height: 0;
        margin-right: .7rem;
    }
}

.form-specify{
    border: none;
    border-radius: .3rem;
    background-color: #f5f4f0;
    padding: .7rem .8rem;

    @media only screen and (max-width: $bp-large) {
        z-index: 13500;
    }

    &__btn-close{
        display: none;
        background-color: transparent;
        top: 3%;
        right: 6%;
        z-index: 15000;

        @media only screen and (max-width: $bp-large) {
            display: block;
        }
    }

    &__svg-close{
        width: 2rem;
        height: 2rem;
    }

    &__fieldset{
        border: none;
        padding: 0;
    }

    &>*:not(:first-child) {
        border-top: .1rem solid $color-grey-1;
    }

    &__heading{
        font-weight: 500;
    }

    &__item{
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__label{
        font-size: 1.3rem;
        margin-left: .5rem;
    }
}